language = "cpp"
run="export CC=clang; export CXX=clang++; mkdir -p ../build; cd ../build; cmake ../acc-cosc-1337-spring-2021-luism7171/; make; cd test/homework_test/tic_tac_toe_test; ./hw_tic_tac_toe_tets -s"